HOST=127.0.0.1
PORT=5000

URLFE=http://localhost:5173
URLAI=http://localhost:5001

PGUSER=
PGPASSWORD= 
PGDATABASE=
PGHOST=
PGPORT=

REDIS_HOST=
REDIS_PORT=

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
