HOST=127.0.0.1
PORT=5000

HOSTFE=localhost
PORTFE=5173

PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=


GOOGLE_CLIENT_ID=


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=a385481b9dd6af
SMTP_PASSWORD=3ec05af35c41eb


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=