HOST=127.0.0.1
PORT=5000

HOSTFE=127.0.0.1
PORTFE=5173

PGUSER=
PGPASSWORD= 
PGDATABASE=
PGHOST=
PGPORT=

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

PYTHON_BIN=python3
OCR_CONF_THRESHOLD=0.25
OCR_IOU_THRESHOLD=0.45
